<!DOCTYPE html>
<html>
  <head>
    <title>테스트페이지</title>
  </head>
 
  <body>
    <h1>제목</h1>
    <p>Welcome to 테스트페이지</p>



    <button>프리셋 루틴 불러오기 버튼</button>
    <p></p>
    <p></p>
    <button>캐릭터 뽑기 버튼</button>
    <p></p>
    <p></p>
    <button>액션 완료 버튼</button>
    <p></p>
    <p></p>

  </body>

</html>